.frame {
  width: auto;
  height: auto;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 1rem;
}

.myVideo {
  border-radius: 2rem;
  width: auto;
  height: auto;
  animation: myvideo .5s forwards 1 ease-in;
}

.userVideo {
  border-radius: 2rem;
  width: auto;
  height: auto;
}

@keyframes myvideo {
  from {
    width: 0;
    height: 0;
  }

  to {
    border-radius: 2rem;
    width: 45rem;
  }
}