.frame {
  width: auto;
  height: auto;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 1rem;
}
 .me {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: rgb(184, 201, 158);
 }
.myVideo {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  /* Mozilla */
  border-radius: 2rem;
  width: auto;
  height: auto;
  animation: myVideo .5s forwards 1 ease-in;
}

.userVideo {
  border-radius: 2rem;
  width: 42rem;
  height: auto;
  animation: myVideo .5s forwards 1 ease;
}

.myVideoSmall {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  /* Mozilla */
  border-radius: 2rem;
  width: auto;
  height: auto;
  animation: myVideoSmaller .5s forwards 1 ease;
}

.myVideoSmall:hover {
  animation: littleBigger 1s forwards 1 ease;
}

.myVideoSmall:not(:hover){
  animation: smallerAgain 1s forwards 1 ease;
}

my .wrapper {
  display: flex;
  flex-direction: column;
}

@keyframes myVideo {
  from {
    width: 0;
    height: 0;
  }

  to {
    border-radius: 2rem;
    width: 42rem;
  }
}

@keyframes myVideoSmaller {
  from {
    width: 45rem;
    height: auto;
    position: absolute;
    top: 3rem;
    left: 30rem;
  }

  to {
    position: absolute;
    top: 26rem;
    left: 55rem;
    border-radius: 2rem;
    width: 10rem;
  }
}

@keyframes littleBigger {
  from {
    position: absolute;
    top: 26rem;
    left: 55rem;
    border-radius: 2rem;
    width: 10rem;
  }

  to {
    position: absolute;
    top: 22.5rem;
    left: 50rem;
    border-radius: 2rem;
    width: 15rem;
  }
}

@keyframes smallerAgain {
  from {
    position: absolute;
    top: 22.5rem;
    left: 50rem;
    border-radius: 2rem;
    width: 15rem;
  }

  to {
    position: absolute;
    top: 26rem;
    left: 55rem;
    border-radius: 2rem;
    width: 10rem;
  }
}