.frame {
  width: 60rem;
  height: 35rem;
  border: 3px solid #ccc;
  background: #eee;
  margin: auto;
  padding: 1rem;
}

.myVideo {
  width: auto;
  height: auto;
}

.userVideo{
  width: auto;
  height: auto;
}
